name: ci

on:
  push

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 16.x
      - run: echo {{contains(github.ref, "main")}}
      - run: yarn install --immutable
      - run: yarn workspace mlogjs clean
      - run: yarn workspace mlogjs coverage
      - run: yarn workspace mlogjs run-p build docs
      - run: yarn workspace editor build
      - env:
          MESSAGE: ${{ github.event.head_commit.message }}
        run: |
          if [ {{contains(github.ref, "main")}} ]
          then
            git add -f compiler/dist docs
            git config --global user.name "github-actions[bot]"
            git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"
            git commit -m "$MESSAGE"
            git push origin main:ci -f
          fi
